In [1]:
import pandas as pd
import numpy

In [73]:
s1_jumsu = {'이름' : ['홍길동', '이순신', '강감찬', '유관순', '강환석'],
            '점수' : [[50, 60, 50], [60, 60, 60], [100, 90, 90], [80, 80, 90], [95, 95, 95]]}
df = pd.DataFrame(s1_jumsu)
df

    이름             점수
0  홍길동   [50, 60, 50]
1  이순신   [60, 60, 60]
2  강감찬  [100, 90, 90]
3  유관순   [80, 80, 90]
4  강환석   [95, 95, 95]

In [74]:
type(df)

pandas.core.frame.DataFrame

In [77]:
df = pd.Series(s1_jumsu)
type(df)

pandas.core.series.Series

In [6]:
s1_jumsu = {'이름' : ['홍길동', '이순신', '강감찬', '유관순', '강환석'],
            '점수' : ['50, 60, 50', '60, 60, 60', '100, 90, 90', '80, 80, 90', '95, 95, 95']}
df3 = pd.DataFrame(s1_jumsu)
df3

    이름           점수
0  홍길동   50, 60, 50
1  이순신   60, 60, 60
2  강감찬  100, 90, 90
3  유관순   80, 80, 90
4  강환석   95, 95, 95

In [17]:
df = df.transpose()
df

               0             1              2             3             4
이름           홍길동           이순신            강감찬           유관순           강환석
점수  [50, 60, 50]  [60, 60, 60]  [100, 90, 90]  [80, 80, 90]  [95, 95, 95]

In [41]:
df_iloc1 = df.iloc[1]
df_iloc1

0     [50, 60, 50]
1     [60, 60, 60]
2    [100, 90, 90]
3     [80, 80, 90]
4     [95, 95, 95]
Name: 점수, dtype: object

In [59]:
df_score = df.iloc[1:2]
df_score

               0             1              2             3             4
점수  [50, 60, 50]  [60, 60, 60]  [100, 90, 90]  [80, 80, 90]  [95, 95, 95]

In [58]:
line1=df_score.loc[0:4]
line1

TypeError: cannot do slice indexing on Index with these indexers [0] of type int

In [35]:
df.loc[1]

               0             1              2             3             4
이름           홍길동           이순신            강감찬           유관순           강환석
점수  [50, 60, 50]  [60, 60, 60]  [100, 90, 90]  [80, 80, 90]  [95, 95, 95]