In [1]:
# 수치형자료(Numerical data)의 응용 
# 수치형 데이터 파악하기 with pandas

import pandas as pd
import numpy as np

# 데이터를 시각화 할 때 필요한 라이브러리들
import seaborn as sns
import matplotlib.pyplot as plt

df = sns.load_dataset("penguins")

#일부 데이터만 보기
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female