In [1]:
import time
from datetime import datetime, date
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
import numpy as np
import time
from datetime import datetime, date
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
#
jumsu = {
'홍길동' : [50,60,50],  
'이순신' : [60,60,60],
'강감찬' : [100,90,90],
'유관순' : [80,80,90],
'강환석' : [95,95,95],
}
s1_jumsu = pd.Series(jumsu)
for i in s1_jumsu.index:
    print('-' + i + '-', end='-')
print()
for i in s1_jumsu.values:
    #print(i)
    #print(type(i))
    print( '-{:.2f}점-'.format( np.mean(i)), end='')  
        # np는 numpy 라이브러리를 말함 np.mean()은 평균 함수임

In [ ]:
# 
import numpy as np
import pandas as pd 
#
jumsu = {
'홍길동' : [50,60,50],
'이순신' : [60,60,60],
'강감찬' : [100,90,90],
'유관순' : [80,80,90],
'강환석' : [95,95,95],
}
s1_jumsu = pd.Series(jumsu)
for i in s1_jumsu.index:
    print('-' + i + '-', end='-')
print()
for i in s1_jumsu.values:
    print( '-{:.2f}점-'.format( np.max(i)), end='')  # np.max()은 최대값 함수임
print()
for i in s1_jumsu.values:
    print( '-{:.2f}점-'.format( np.min(i)), end='')  # np.min()은 최소값 함수임

In [ ]:

import numpy as np
import pandas as pd 
#
jumsu = {'홍길동' : [50,60,50],'이순동' : [60,60,60],'강감동' : [100,90,90],'유관동' : [80,80,90],
'홍길도' : [50,45,50],'이순도' : [80,70,66],'강감도' : [64,49,50],'유관도' : [60,50,50],'홍길재' : [50,45,51],
'이순재' : [80,70,61],'강감재' : [64,49,51],'유관재' : [60,50,51],'강환석' : [95,95,95]}
#
# jums딕셔너리의 쌍 중에서 밸류의 평균이 60점 미만인 것만 필터링 하여 jumsu2 딕셔너리를 생성하는 명령
jumsu2 = dict(  {   key : round(np.mean(value),2)   for key, value  in jumsu.items() if np.mean(value)<60  } )
                                                        # jumsu 딕셔너리의 밸류 중에서 평균이 60 미만인 것만 
                                                        # 뽑아낸 쌍을 items() 튜플에 할당하고 
                                                        # 튜플의 요소를 unpacking하여 key, value 라는 변수에 할당하는 for문 
                                                        # items() 함수는 Key와 Value의 쌍을 튜플로 묶은 값을 dict_items 객체로 돌려준다
                                                        # 이 구절에서는 튜플로 묶은 dict_items 객체를 
                                                        # in 연산자 왼쪽의  key, value에 unpacking하였다
                    # for 문으로 발생한 key, value를 
                    # 각각 key와 round(np.mean(value),2)의 쌍으로 구성하고 이것을
        # dict() 형변환 함수로 변환하여 jumsu2 딕셔너리로 생성한다.
#
#
#print(type(jumsu2)) # 서비스 코드임
#print(jumsu2)       # 서비스 코드임
#
jumsu3 = pd.Series(jumsu2)
for i in jumsu3.index:
    print(i, end="-")
print()
for i in jumsu3:
    print(i, end="--")
print()

In [2]:
# 일정한 시간을 간격으로 하는 데이터의 연속,
# 또는 일정한 날짜를 간격으로 하는 데이터가 연속된 것이
# 시리즈의 인덱스로 사용된 경우 이러한 인덱스를 가진 시리즈를 
# 시계열이라고 한다.

In [3]:
dates = pd.date_range('2021-07-01','2021-07-06')
print(dates)
print(type(dates))

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04',
               '2021-07-05', '2021-07-06'],
              dtype='datetime64[ns]', freq='D')
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [4]:
temps1 = pd.Series([80,82,85,90,83,87], index=dates)
temps1

2021-07-01    80
2021-07-02    82
2021-07-03    85
2021-07-04    90
2021-07-05    83
2021-07-06    87
Freq: D, dtype: int64

In [5]:
# 이 소스는 위에서 만들어진 dates 라는 인덱스를 temps2시리즈에 적용한 형태이다 
temps2 = pd.Series([70,75,69,83,79,77], index=dates)
print(temps2)
temps_diff = temps1 - temps2
print(temps_diff)

2021-07-01    70
2021-07-02    75
2021-07-03    69
2021-07-04    83
2021-07-05    79
2021-07-06    77
Freq: D, dtype: int64
2021-07-01    10
2021-07-02     7
2021-07-03    16
2021-07-04     7
2021-07-05     4
2021-07-06    10
Freq: D, dtype: int64

In [12]:
# temps3 만들기
temps3 = pd.Series([75, 77, 67, 82, 77, 85], index=dates)
temps3

2021-07-01    75
2021-07-02    77
2021-07-03    67
2021-07-04    82
2021-07-05    77
2021-07-06    85
Freq: D, dtype: int64

In [6]:
# pandas에는 평균을 구하는 함수인 mean()을 자체적으로 가지고 있다 
# 이것은 실습-2-해답에서 np.mean(value)로 표현한 numpy라이브러리의 mean() 함수와 구분된다 
print(temps_diff.mean())
print(type(temps_diff))

9.0
<class 'pandas.core.series.Series'>

In [7]:
# 아래의 코드는 두 개의 컬럼을 갖는 Dataframe 객체 temps_df를 만든다
# 이 데이터 프레임의 구성요소인 컬럼(세로로 길죽한것)은 위에서 만든 temps1 과 temps2의 시리즈 객체이다.
# 위의 셀에서 언급한 것처럼 temps1과 temps2는 동일한 인덱스인 dates를 가지므로 
# 데이터 프레임이라는 데이터 구조를 만들때 2021-07-01 부터 2021-07-06까지의 인덱스가 
# temps1과 temps2에서 공통적으로 사용되었기에 데이터 프레임의 인덱스가 되기에 어려움이 없다(유리하다). 
temps_df = pd.DataFrame({'Missoula':temps1, 'Philadelphia':temps2})
temps_df

            Missoula  Philadelphia
2021-07-01        80            70
2021-07-02        82            75
2021-07-03        85            69
2021-07-04        90            83
2021-07-05        83            79
2021-07-06        87            77

### Pandas DataFrame의 개념 
#### 판다스의 시리즈는 각 인덱스 레이블 당 한 개의 값(values)만 가진다.
#### 그러나 데이터 프레임을 사용하면 인덱스 한 개당 복수개의 값을 가질 수 있다 
#### 데이터 프레임은 인덱스 레이블을 기준으로 배열된 한 개 이상의 시리즈의 집합을 의미한다.
#### 각 시리즈는 데이터 프레임의 컬럼(열)이며 각각의 컬럼(열)은 자신만의 이름을 갖는다.

### Pandas DataFrame의 특징 
#### 데이터 프레임은 데이터 베이스의 개념과 비슷하다.
#### 서로다른 유형의 데이터 컬럼을 한 개 이상 갖는다는 점과, 한 컬럼의 모든 데이터는 동일한 유형이라는 점이 비슷한 점이다.

In [8]:
t1 = temps1
t2 = temps2
t3 = (t1 + t2)
print(t3)

2021-07-01    150
2021-07-02    157
2021-07-03    154
2021-07-04    173
2021-07-05    162
2021-07-06    164
Freq: D, dtype: int64

In [10]:
t1 = temps1
t2 = temps2
# tt = np.matmul(t1, t2)
tt = t1 * t2
print(tt)

2021-07-01    5600
2021-07-02    6150
2021-07-03    5865
2021-07-04    7470
2021-07-05    6557
2021-07-06    6699
Freq: D, dtype: int64

In [11]:
t1 = temps1
t2 = temps2
ts = t1 / t2
print(ts)

2021-07-01    1.142857
2021-07-02    1.093333
2021-07-03    1.231884
2021-07-04    1.084337
2021-07-05    1.050633
2021-07-06    1.129870
Freq: D, dtype: float64

In [13]:
# temps1, temps2, temps3 데이터프레임에 넣기
temps_df2 = pd.DataFrame({'Missoula':temps1, 'Philadelphia':temps2, 'temps3':temps3})
temps_df2

            Missoula  Philadelphia  temps3
2021-07-01        80            70      75
2021-07-02        82            75      77
2021-07-03        85            69      67
2021-07-04        90            83      82
2021-07-05        83            79      77
2021-07-06        87            77      85

In [34]:
df_iloc = temps_df2.iloc[:, 0]
for i in df_iloc.values:
    print('-{:.2f}도'.format(np.mean(i)), end='')

-80.00도-82.00도-85.00도-90.00도-83.00도-87.00도