In [1]:
import datetime
from datetime import datetime, date
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import Image
#
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 250)
#
%matplotlib inline

In [2]:
dates = pd.date_range('2019-01-01', '2019-01-06')
temps1 = pd.Series([80,82,85,90,83,87], index= dates)

In [3]:
temps2 = pd.Series([70, 75,69,83, 79,77], index = dates)
temps_diffs = temps1 - temps2
temps_diffs

2019-01-01    10
2019-01-02     7
2019-01-03    16
2019-01-04     7
2019-01-05     4
2019-01-06    10
Freq: D, dtype: int64

In [4]:
temps_diffs.mean()

9.0

In [5]:
temps_df = pd.DataFrame(
    {
        'Missoula' : temps1,
        'Philadelphia' : temps2
    }
)
temps_df

            Missoula  Philadelphia
2019-01-01        80            70
2019-01-02        82            75
2019-01-03        85            69
2019-01-04        90            83
2019-01-05        83            79
2019-01-06        87            77

In [6]:
temps_df['Missoula']

2019-01-01    80
2019-01-02    82
2019-01-03    85
2019-01-04    90
2019-01-05    83
2019-01-06    87
Freq: D, Name: Missoula, dtype: int64

In [7]:
temps_df[['Philadelphia','Missoula']]

            Philadelphia  Missoula
2019-01-01            70        80
2019-01-02            75        82
2019-01-03            69        85
2019-01-04            83        90
2019-01-05            79        83
2019-01-06            77        87

In [8]:
temps3 = pd.Series([75, 77, 67, 82, 77, 85], index=dates)
temps_df2 = pd.DataFrame(
        {
        'Missoula': temps1,
        'Philadelphia': temps2,
        'Seoul': temps3,
        }
)
#temps_df2  # 출력부분을 임시로 주석함

In [9]:
print('Missoula \t평균기온 : {0:.2f}'.format(temps1.mean()))   # {} 서식문자를 사용한 부분을 기억하세요.
print('Philadelphia \t평균기온 : {0:.2f}'.format(temps2.mean())) 
print('Seoul \t\t평균기온 : {0:.2f}'.format(temps3.mean()))

Missoula 	평균기온 : 84.50
Philadelphia 	평균기온 : 75.50
Seoul 		평균기온 : 77.17

In [10]:
round(temps_df2.mean(),2)  # 반올림 함수를 함 사용함

Missoula        84.50
Philadelphia    75.50
Seoul           77.17
dtype: float64

In [11]:
temps_df.Missoula

2019-01-01    80
2019-01-02    82
2019-01-03    85
2019-01-04    90
2019-01-05    83
2019-01-06    87
Freq: D, Name: Missoula, dtype: int64

In [12]:
temps_diff = temps_df.Missoula - temps_df.Philadelphia
temps_diff

2019-01-01    10
2019-01-02     7
2019-01-03    16
2019-01-04     7
2019-01-05     4
2019-01-06    10
Freq: D, dtype: int64

In [13]:
temps_df.columns

Index(['Missoula', 'Philadelphia'], dtype='object')

In [14]:
temps_df['Difference'] = temps_diffs
temps_df

            Missoula  Philadelphia  Difference
2019-01-01        80            70          10
2019-01-02        82            75           7
2019-01-03        85            69          16
2019-01-04        90            83           7
2019-01-05        83            79           4
2019-01-06        87            77          10

In [15]:
temps_df.columns

Index(['Missoula', 'Philadelphia', 'Difference'], dtype='object')

In [16]:
temps_df.Difference[1:4]

2019-01-02     7
2019-01-03    16
2019-01-04     7
Freq: D, Name: Difference, dtype: int64

In [17]:
temps_df.iloc[1]  # 1번째 로우의 데이터를 참조함 단, 맨 처음로우는 0임

Missoula        82
Philadelphia    75
Difference       7
Name: 2019-01-02 00:00:00, dtype: int64

In [18]:
temps_df.iloc[1].index

Index(['Missoula', 'Philadelphia', 'Difference'], dtype='object')

In [19]:
temps_df.loc['2019-01-05'] # loc함수는 인덱스 레이블(컬럼값)에
    #해당하는 로우 값을 참조한다.

Missoula        83
Philadelphia    79
Difference       4
Name: 2019-01-05 00:00:00, dtype: int64

In [20]:
temps_df.iloc[[1, 3, 5]]

            Missoula  Philadelphia  Difference
2019-01-02        82            75           7
2019-01-04        90            83           7
2019-01-06        87            77          10

In [21]:
temps_df.Missoula > 82

2019-01-01    False
2019-01-02    False
2019-01-03     True
2019-01-04     True
2019-01-05     True
2019-01-06     True
Freq: D, Name: Missoula, dtype: bool

In [22]:
temps_df[temps_df.Missoula > 82]

            Missoula  Philadelphia  Difference
2019-01-03        85            69          16
2019-01-04        90            83           7
2019-01-05        83            79           4
2019-01-06        87            77          10

In [23]:
temps_df['Seoul'] = temps3
temps_df

            Missoula  Philadelphia  Difference  Seoul
2019-01-01        80            70          10     75
2019-01-02        82            75           7     77
2019-01-03        85            69          16     67
2019-01-04        90            83           7     82
2019-01-05        83            79           4     77
2019-01-06        87            77          10     85

# 28일차 강의 시작

In [24]:
%pfile data/goog.csv

Object `data/goog.csv` not found.

Date,Open,High,Low,Close,Volume
12/19/2016,790.219971,797.659973,786.27002,794.200012,1225900
12/20/2016,796.76001,798.650024,793.27002,796.419983,925100
12/21/2016,795.840027,796.676025,787.099976,794.559998,1208700
12/22/2016,792.359985,793.320007,788.580017,791.26001,969100
12/23/2016,790.900024,792.73999,787.280029,789.909973,623400
12/27/2016,790.679993,797.859985,787.656982,791.549988,789100
12/28/2016,793.700012,794.22998,783.200012,785.049988,1132700
12/29/2016,783.330017,785.929993,778.919983,782.789978,742200
12/30/2016,782.75,782.780029,770.409973,771.820007,1760200
1/3/2017,778.809998,789.630005,775.799988,786.140015,1643100
1/4/2017,788.359985,791.340027,783.159973,786.900024,1065400
1/5/2017,786.080017,794.47998,785.02002,794.02002,1315400
1/6/2017,795.26001,807.900024,792.203979,806.150024,1620500
1/9/2017,806.400024,809.966003,802.830017,806.650024,1272400
1/10/2017,807.859985,809.130005,803.51001,804.789978,1174300
1/11/2017,805,808.150024,801.369995,807.909973,1057900
1/12/2017,807.140015,807.390015,799.169983,806.359985,1351000
1/13/2017,807.47998,811.223999,806.690002,807.880005,1090100
1/17/2017,807.080017,807.140015,800.369995,804.609985,1355800
1/18/2017,805.809998,806.205017,800.98999,806.070007,1293300
1/19/2017,805.119995,809.47998,801.799988,802.174988,912000
1/20/2017,806.909973,806.909973,801.690002,805.02002,1645000
1/23/2017,807.25,820.869995,803.73999,819.309998,1901600
1/24/2017,822.299988,825.900024,817.820984,823.869995,1461000
1/25/2017,829.619995,835.77002,825.059998,835.669983,1494500
1/26/2017,837.809998,838,827.01001,832.150024,2734400
1/27/2017,834.710022,841.950012,820.440002,823.309998,2951800
1/30/2017,814.659973,815.840027,799.799988,802.320007,3228900
1/31/2017,796.859985,801.25,790.52002,796.789978,2143500
2/1/2017,799.679993,801.190002,791.190002,795.695007,2023300
2/2/2017,793.799988,802.700012,792,798.530029,1525800
2/3/2017,802.98999,806,800.369995,801.48999,1460400
2/6/2017,799.700012,801.669983,795.25,801.340027,1174200
2/7/2017,803.98999,810.5,801.780029,806.969971,1235200
2/8/2017,807,811.840027,803.190002,808.380005,1155300
2/9/2017,809.51001,810.659973,804.539978,809.559998,989700
2/10/2017,811.700012,815.25,809.780029,813.669983,1129100
2/13/2017,816,820.958984,815.48999,819.23999,1198100
2/14/2017,819,823,816,820.450012,1053600
2/15/2017,819.359985,823,818.469971,818.97998,1304000
2/16/2017,819.929993,824.400024,818.97998,824.159973,1281700
2/17/2017,823.02002,828.070007,821.655029,828.070007,1597800
2/21/2017,828.659973,833.450012,828.349976,831.659973,1247700
2/22/2017,828.659973,833.25,828.640015,830.76001,982900
2/23/2017,830.119995,832.460022,822.880005,831.330017,1470100
2/24/2017,827.72998,829,824.200012,828.640015,1386600
2/27/2017,824.549988,830.5,824,829.280029,1099500
2/28/2017,825.609985,828.539978,820.200012,823.210022,2252300
3/1/2017,828.849976,836.255005,827.26001,835.23999,1491400
3/2/2017,833.849976,834.51001,829.640015,830.630005,937700
3/3/2017,830.559998,831.359985,825.750977,829.080017,888900
3/6/2017,826.950012,828.880005,822.400024,827.780029,1105800
3/7/2017,827.400024,833.409973,826.52002,831.909973,1016600
3/8/2017,833.51001,838.150024,831.789978,835.369995,988700
3/9/2017,836,842,834.210022,838.679993,1259900
3/10/2017,843.280029,844.909973,839.5,843.25,1701100
3/13/2017,844,848.684998,843.25,845.539978,1149500
3/14/2017,843.640015,847.23999,840.799988,845.619995,779900
3/15/2017,847.590027,848.630005,840.77002,847.200012,1379600
3/16/2017,849.030029,850.849976,846.130005,848.780029,970400
3/17/2017,851.609985,853.400024,847.109985,852.119995,1712300

In [25]:
df = pd.read_csv('data/goog.csv') # ipynb 파일이 존재하는 디렉터리의 하위디렉터리인
   # data 디렉터리에 존재하는 goog.csv파일을 오픈하겠다는 의미입니다 
df

          Date        Open        High         Low       Close   Volume
0   12/19/2016  790.219971  797.659973  786.270020  794.200012  1225900
1   12/20/2016  796.760010  798.650024  793.270020  796.419983   925100
2   12/21/2016  795.840027  796.676025  787.099976  794.559998  1208700
3   12/22/2016  792.359985  793.320007  788.580017  791.260010   969100
4   12/23/2016  790.900024  792.739990  787.280029  789.909973   623400
..         ...         ...         ...         ...         ...      ...
56   3/13/2017  844.000000  848.684998  843.250000  845.539978  1149500
57   3/14/2017  843.640015  847.239990  840.799988  845.619995   779900
58   3/15/2017  847.590027  848.630005  840.770020  847.200012  1379600
59   3/16/2017  849.030029  850.849976  846.130005  848.780029   970400
60   3/17/2017  851.609985  853.400024  847.109985  852.119995  1712300

[61 rows x 6 columns]

In [26]:
df.Date

0     12/19/2016
1     12/20/2016
2     12/21/2016
3     12/22/2016
4     12/23/2016
         ...
56     3/13/2017
57     3/14/2017
58     3/15/2017
59     3/16/2017
60     3/17/2017
Name: Date, Length: 61, dtype: object

In [27]:
df.Open

0     790.219971
1     796.760010
2     795.840027
3     792.359985
4     790.900024
         ...
56    844.000000
57    843.640015
58    847.590027
59    849.030029
60    851.609985
Name: Open, Length: 61, dtype: float64

In [28]:
df3 = df.iloc[0:3]
df3

         Date        Open        High         Low       Close   Volume
0  12/19/2016  790.219971  797.659973  786.270020  794.200012  1225900
1  12/20/2016  796.760010  798.650024  793.270020  796.419983   925100
2  12/21/2016  795.840027  796.676025  787.099976  794.559998  1208700

In [29]:
df3 = df.iloc[0:3,4:]
df3

        Close   Volume
0  794.200012  1225900
1  796.419983   925100
2  794.559998  1208700

In [30]:
df4 = df.iloc[0:3,3:5]
df4

          Low       Close
0  786.270020  794.200012
1  793.270020  796.419983
2  787.099976  794.559998

In [31]:
df5 = df.iloc[1:61:2]
df5

          Date        Open        High         Low       Close   Volume
1   12/20/2016  796.760010  798.650024  793.270020  796.419983   925100
3   12/22/2016  792.359985  793.320007  788.580017  791.260010   969100
5   12/27/2016  790.679993  797.859985  787.656982  791.549988   789100
7   12/29/2016  783.330017  785.929993  778.919983  782.789978   742200
9     1/3/2017  778.809998  789.630005  775.799988  786.140015  1643100
..         ...         ...         ...         ...         ...      ...
51    3/6/2017  826.950012  828.880005  822.400024  827.780029  1105800
53    3/8/2017  833.510010  838.150024  831.789978  835.369995   988700
55   3/10/2017  843.280029  844.909973  839.500000  843.250000  1701100
57   3/14/2017  843.640015  847.239990  840.799988  845.619995   779900
59   3/16/2017  849.030029  850.849976  846.130005  848.780029   970400

[30 rows x 6 columns]

### 실습-1.  
df에 있는 자료 중에서 홀수의 행만을 출력하는 코드를 작성하세요.  
df.iloc[1,3,5,7,9,11,13,15,17, ... ,:] 과 같은 코드는 안됩니다.

In [32]:
# 28일차-실습-1-해답
df6 = df.iloc[1: :2] # 슬라이싱 문법입니다.
df6

          Date        Open        High         Low       Close   Volume
1   12/20/2016  796.760010  798.650024  793.270020  796.419983   925100
3   12/22/2016  792.359985  793.320007  788.580017  791.260010   969100
5   12/27/2016  790.679993  797.859985  787.656982  791.549988   789100
7   12/29/2016  783.330017  785.929993  778.919983  782.789978   742200
9     1/3/2017  778.809998  789.630005  775.799988  786.140015  1643100
..         ...         ...         ...         ...         ...      ...
51    3/6/2017  826.950012  828.880005  822.400024  827.780029  1105800
53    3/8/2017  833.510010  838.150024  831.789978  835.369995   988700
55   3/10/2017  843.280029  844.909973  839.500000  843.250000  1701100
57   3/14/2017  843.640015  847.239990  840.799988  845.619995   779900
59   3/16/2017  849.030029  850.849976  846.130005  848.780029   970400

[30 rows x 6 columns]

In [33]:
#실습-2-해답-ver1
df21 = df.iloc[list(range(0,61,2)) ,2:4]
df21

          High         Low
0   797.659973  786.270020
2   796.676025  787.099976
4   792.739990  787.280029
6   794.229980  783.200012
8   782.780029  770.409973
..         ...         ...
52  833.409973  826.520020
54  842.000000  834.210022
56  848.684998  843.250000
58  848.630005  840.770020
60  853.400024  847.109985

[31 rows x 2 columns]

In [34]:
#실습-2-해답-ver2
df22 = df.iloc[  [i for i in range (0,61,2)], 2:4]
df22

          High         Low
0   797.659973  786.270020
2   796.676025  787.099976
4   792.739990  787.280029
6   794.229980  783.200012
8   782.780029  770.409973
..         ...         ...
52  833.409973  826.520020
54  842.000000  834.210022
56  848.684998  843.250000
58  848.630005  840.770020
60  853.400024  847.109985

[31 rows x 2 columns]

In [35]:
#실습-2-해답-ver3
ls = [x for x in df.index if x % 2 == 0]
df.loc[df.index % 2==1]
df23 = df.loc[ls, ['High','Low']]
df23

          High         Low
0   797.659973  786.270020
2   796.676025  787.099976
4   792.739990  787.280029
6   794.229980  783.200012
8   782.780029  770.409973
..         ...         ...
52  833.409973  826.520020
54  842.000000  834.210022
56  848.684998  843.250000
58  848.630005  840.770020
60  853.400024  847.109985

[31 rows x 2 columns]

In [36]:
#실습-2-해답-ver4
df24 = df.loc[df.index % 2 == 0, ['High','Low']]
df24

          High         Low
0   797.659973  786.270020
2   796.676025  787.099976
4   792.739990  787.280029
6   794.229980  783.200012
8   782.780029  770.409973
..         ...         ...
52  833.409973  826.520020
54  842.000000  834.210022
56  848.684998  843.250000
58  848.630005  840.770020
60  853.400024  847.109985

[31 rows x 2 columns]

# 강의-2  시작지점
## 인덱스를 만들거나 변경하기

In [37]:
df

          Date        Open        High         Low       Close   Volume
0   12/19/2016  790.219971  797.659973  786.270020  794.200012  1225900
1   12/20/2016  796.760010  798.650024  793.270020  796.419983   925100
2   12/21/2016  795.840027  796.676025  787.099976  794.559998  1208700
3   12/22/2016  792.359985  793.320007  788.580017  791.260010   969100
4   12/23/2016  790.900024  792.739990  787.280029  789.909973   623400
..         ...         ...         ...         ...         ...      ...
56   3/13/2017  844.000000  848.684998  843.250000  845.539978  1149500
57   3/14/2017  843.640015  847.239990  840.799988  845.619995   779900
58   3/15/2017  847.590027  848.630005  840.770020  847.200012  1379600
59   3/16/2017  849.030029  850.849976  846.130005  848.780029   970400
60   3/17/2017  851.609985  853.400024  847.109985  852.119995  1712300

[61 rows x 6 columns]

## df 에는 모두 몇개의 셀이 있나요? ->366 
## df 에는 인덱스가 있나요? -> 0 ~ 61 
## 인덱스는 누가 만들었나요? -> 자동생성 
## 인덱스가 필요한 목적은 무엇인가요? -> 요소를 제어하기 위해서입니다.

In [38]:
# Date 열에 저장되어있는 데이터는 단지 문자열입니다
# 지;난 학습일에 시리즈를 만들 때 요소를 만들고 인덱스를 함께 만들었던 것을 상기하세요
# 현재 df엔 오직 문자열들로 구성된 자료만 들어가 있습니다
# 시리즈를 만들 때, 인덱스가 DateTime타입인 경우에 특별한 이름으로 부른다고 했습니다
# DateTime타입의 인덱스를 가지고 있는 시리즈는 무엇인가요? -> 시계열 
print(type(df.Date[0]))
print(df.Date[0])

<class 'str'>
12/19/2016

In [39]:
# 실습-3-해답-ver1-1
# df를 다시한 번 만든다.
df31 = pd.read_csv('data/goog.csv', parse_dates=['Date'])
df31

         Date        Open        High         Low       Close   Volume
0  2016-12-19  790.219971  797.659973  786.270020  794.200012  1225900
1  2016-12-20  796.760010  798.650024  793.270020  796.419983   925100
2  2016-12-21  795.840027  796.676025  787.099976  794.559998  1208700
3  2016-12-22  792.359985  793.320007  788.580017  791.260010   969100
4  2016-12-23  790.900024  792.739990  787.280029  789.909973   623400
..        ...         ...         ...         ...         ...      ...
56 2017-03-13  844.000000  848.684998  843.250000  845.539978  1149500
57 2017-03-14  843.640015  847.239990  840.799988  845.619995   779900
58 2017-03-15  847.590027  848.630005  840.770020  847.200012  1379600
59 2017-03-16  849.030029  850.849976  846.130005  848.780029   970400
60 2017-03-17  851.609985  853.400024  847.109985  852.119995  1712300

[61 rows x 6 columns]

In [40]:
# 실습-3-해답-ver1-2
# df의 Date컬럼(시리즈)에서 0 번 셀의 타입을 확인함
type(df31.Date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [41]:
# 실습-3-해답-ver1-3
# df의 인덱스를 확인함
df31.index

RangeIndex(start=0, stop=61, step=1)

Note  
지금은 RangeIndex이지만 예전 pandas에서는 그냥 정수 인덱스였습니다.  
이를 해결하기 위해 pd.read_csv() 함수의 index_col 파라미터를 사용해   
인덱스로 쓸 컬럼을 지정하면 됩니다.

In [42]:
# 실습-3-해답-ver1-4
df314 = pd.read_csv('data/goog.csv', parse_dates=['Date'], index_col='Date') # parse_dates=['Date'] 속성을 이용해 date 타입으로 변경
df314  # 출력된 Data 열의 모양이 달라진 것을 확인 할 수 있습니다.

                  Open        High         Low       Close   Volume
Date
2016-12-19  790.219971  797.659973  786.270020  794.200012  1225900
2016-12-20  796.760010  798.650024  793.270020  796.419983   925100
2016-12-21  795.840027  796.676025  787.099976  794.559998  1208700
2016-12-22  792.359985  793.320007  788.580017  791.260010   969100
2016-12-23  790.900024  792.739990  787.280029  789.909973   623400
...                ...         ...         ...         ...      ...
2017-03-13  844.000000  848.684998  843.250000  845.539978  1149500
2017-03-14  843.640015  847.239990  840.799988  845.619995   779900
2017-03-15  847.590027  848.630005  840.770020  847.200012  1379600
2017-03-16  849.030029  850.849976  846.130005  848.780029   970400
2017-03-17  851.609985  853.400024  847.109985  852.119995  1712300

[61 rows x 5 columns]

# 아래는 # 실습-3-해답-ver2 입니다. # 실습-3-해답-ver1과 차이점을 비교하세요

In [43]:
# 실습-3-해답-ver2-1
# df를 재활용한다.
df32 = df # df데이터 프레임을 df32로 할당한다
df32['Date'] = pd.to_datetime(df['Date'] ) # to_datetime() 함수는 데이터프레임의 특정 컬럼의 타입(형식)을 
                                            # detetime 형식으로 변환한다 
print(type(df32.Date[0]))
print(df32)
df32 = df32.set_index(['Date'])
print(df32)

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
         Date        Open        High         Low       Close   Volume
0  2016-12-19  790.219971  797.659973  786.270020  794.200012  1225900
1  2016-12-20  796.760010  798.650024  793.270020  796.419983   925100
2  2016-12-21  795.840027  796.676025  787.099976  794.559998  1208700
3  2016-12-22  792.359985  793.320007  788.580017  791.260010   969100
4  2016-12-23  790.900024  792.739990  787.280029  789.909973   623400
..        ...         ...         ...         ...         ...      ...
56 2017-03-13  844.000000  848.684998  843.250000  845.539978  1149500
57 2017-03-14  843.640015  847.239990  840.799988  845.619995   779900
58 2017-03-15  847.590027  848.630005  840.770020  847.200012  1379600
59 2017-03-16  849.030029  850.849976  846.130005  848.780029   970400
60 2017-03-17  851.609985  853.400024  847.109985  852.119995  1712300

[61 rows x 6 columns]
                  Open        High         Low       Close   Volume
Date
2016-12-19  790.219971  797.659973  786.270020  794.200012  1225900
2016-12-20  796.760010  798.650024  793.270020  796.419983   925100
2016-12-21  795.840027  796.676025  787.099976  794.559998  1208700
2016-12-22  792.359985  793.320007  788.580017  791.260010   969100
2016-12-23  790.900024  792.739990  787.280029  789.909973   623400
...                ...         ...         ...         ...      ...
2017-03-13  844.000000  848.684998  843.250000  845.539978  1149500
2017-03-14  843.640015  847.239990  840.799988  845.619995   779900
2017-03-15  847.590027  848.630005  840.770020  847.200012  1379600
2017-03-16  849.030029  850.849976  846.130005  848.780029   970400
2017-03-17  851.609985  853.400024  847.109985  852.119995  1712300

[61 rows x 5 columns]